.btn-cancel {
    margin-right: 5px;
}

.float-right {
    float: right;
}

.float-right + div {
    clear: both;
}

.post-author {
    display: inline;
}

.btn-delete {
    display: none;
    position: absolute;
    left: 95%;
}

.card:hover .btn-delete {
    display: block;
}
