.btn-cancel {
    margin-right: 5px;
}

.float-right {
    float: right;
}

.float-right + div {
    clear: both;
}

.post-author {
    display: inline;
}

.author-btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn-delete, .btn-edit {
    display: none;
}

.card:hover .btn-delete, .card:hover .btn-edit {
    display: block;
} 
